---
import { Icon } from "astro-icon/components";
const socialLinks = [
  {
    name: "Instagram",
    url: "https://instagram.com/luigidotdev",
    icon: "cib:instagram",
  },
  {
    name: "LinkedIn",
    url: "https://linkedin.com/in/luisurruela",
    icon: "cib:linkedin-in",
  },
  {
    name: "Gmail",
    url: "mailto:luis.urruela@gmail.com",
    icon: "cib:gmail",
  },
];
---

<div class="mt-4 md:mt-10 flex justify-center gap-3">
  {
    socialLinks.map((link) => (
      <a
        href={link.url}
        target="_blank"
        rel="noopener noreferrer"
        class="hover:shadow-primary-dark hover:shadow-xs hover:text-secondary  text-gray-500 w-[60px] h-[60px] rounded-full flex justify-center items-center transition duration-300 ease-in-out"
      >
        <Icon name={link.icon} size={24} />
      </a>
    ))
  }
</div>
