body {
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-size: 3.4em;
    font-weight: 600; 
    margin-bottom: 15px; 
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 3px 15px rgba(59,1,93,0.15);
}

h1 span {
    font-size: 3em;
}

h2 {
    font-size: 3em;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

#hero {
    position: absolute;
    top: 30%;
    z-index: 1000;
}

#social a {
    color: #5d088a;
    font-size: 1.4em;
}

#social a:hover {
    color: #781caa;
}

#about p {
    font-size: 1.2em;
}
  

/* Bootstrap */

.btn-outline-primary {
    border: 2px solid #781caa !important;
    color: #5d088a;
    transition: 0.3s;
    font-weight: 500;
}

.btn-outline-primary:hover {
    background-color: #5d088a !important;
    border: 2px solid #781caa !important;
    color: white;
}

.btn-primary {
    background-color: #5d088a !important;
    border: 1px solid #781caa !important;
    color: white;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #922cc9 !important;
    border: 1px solid #781caa !important;
}

 @media (max-width: 768px) {
    
    #hero {
        position: absolute;
        top: 20%;
        z-index: 1000;
    }
     
    h1 {
         font-size: 2.6em;
         font-weight: 300;
         margin: 0;
         padding: 0;
         line-height: 1.6em;
    }

    h1 span {
        font-size: 2em;
        font-weight: 500;
    }

    h2 {
        font-size: 1.6em;
        font-weight: 400;
    }
    
 }
