body {
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-size: 5.8em;
    font-weight: bold; 
    margin-bottom: 15px; 
}

h2 {
    font-size: 2.4em;
    font-weight: 100;
}

#hero {
    position: absolute;
    top: 40%;
    z-index: 1000;
}

 @media (max-width: 768px) {
     
    h1 {
         font-size: 1.4em;
         font-weight: 100;
         margin: 0;
         padding: 0;
    }

    h1 span {
        font-size: 2.2em;
        font-weight: 500;
    }

    h2 {
        font-size: 1em;
        font-weight: 500;
    }
 }