html {
    height: 100%;
}

body {
    color: #404040;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}
a {color: #333333;transition: 0.2s; font-weight: 500;}
a:hover{color:#000000; border-bottom: 5px solid #FEA911; text-decoration: none;}
h1 {font-size: 50px; font-weight: 700; letter-spacing: -1px;}
h2 {font-size: 22px; font-weight: 300; letter-spacing: -1px;}
h3 {font-size: 18px; font-weight: 400; letter-spacing: -1px;}

.text-lg {font-size: 2.8em;}
.text-logo {font-family: 'Teko', sans-serif !important;}
.text-purple{color: #483FA3;}

#logo-svg {
    width: 37px;
}

.cls-1 {
    fill: #5956a4 !important;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 15px;
    line-height: 1em;
    border-radius: 50%;
    font-size: 30px;
    z-index: 1000;
}

.whatsapp-button:hover {
    border: none;
    color: white;
}

.text-warning {color:#FEA911;}
.text-yellow {color: #000000; background-color: #FAC017; border-radius: 1px; padding: 0px 5px; font-weight: 700;}

.title-primary{font-size: 22px; font-weight: 300;}
.title-secondary{font-size: 40px; font-weight: 700;}

.avatar img {
    border-radius: 50%;
    width: 180px;
}

.text-quote {
    display: block;
    font-size: 35px;
    clear: right;
    font-weight: bolder;
    line-height: 1.1em;
}

.bg-purple {background-color: #EEE9F1;}
.bg-dark-purple {background-color: #483FA3;}

.text-quote-author {
    display: block;
    font-size: 1.2em;
}

.divisor {
    background-color: #5750bc;
    height: 5px;
    margin: 30px auto;
    width: 100px;
}

.icon-primary {
    font-size: 60px;
}

.divider {
    background-color: #5750bc;
    height: 10px;
}

#about h1 {font-size: 1.5em;}
#about p {font-size: 1em;}
#about strong {font-weight: 500;}

.btn-success {
    background-color: #5750BC;
    border: none !important;
    font-size: 1em;
    transition: .4s;
}

.btn-outline-success {
    border: 1px solid #5750bc;
    color: #483FA3;
}

.btn-outline-success:hover {
    background-color: #5750BC;
    border: 1px solid #483FA3 !important;
    transition: .4s;
}

.avatar-sm {width: 160px !important;}

.navbar-brand {
    font-family: 'Teko', sans-serif;
    font-size: 1.8em;
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-brand span {
    color: #483FA3;
}

.navbar a:hover {
    border: 0px;
}

.nav-item {
    border-bottom: 4px solid trans;
    transition: .6s;
}

.nav-item:hover {
    border-bottom: 4px solid #483FA3;
}

.btn-success:hover {
    background-color: #483FA3;
    border: none;
}

.bg-light {
    background-color: #FAF8FB !important;
}

.card {
    border: none;
}

h3.card-title {font-size: 1.8em; font-weight: 500;}
span.title{display:block; font-size: 1.3em; font-weight: 600; margin-bottom: 5px;}

.navbar {
    font-size: 0.9em;
}

#services {
    
    padding: 280px 0 60px;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 3em;
  height: 3em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #483FA3 !important;
}

.svg-icon circle {
  stroke: #483FA3 !important;
  stroke-width: 1;
}

#social a {
    color: #483FA3;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    transition: .3s;
}

#social a:hover {
    background-color: #5750bc;
    border-radius: 50%;
    color: #ffffff;
}

#logo-bottom svg {
    width: 50px;
}

/* Media */

@media screen and (max-width: 767px) {
    body {font-size: 14px;}
    h1 {font-size: 32px;}
    h2 {font-size: 14px;}
    h3 {font-size: 14px;}

    .title-primary{font-size: 14px; font-weight: 300;}
    .title-secondary{font-size: 32px; font-weight: 700;}
    .lead {font-size: 15px}
    .text-quote {font-size: 20px; font-weight: bolder;}
    .text-quote-author {font-size: 1em;}

    #ventajas h4{font-size: 1.3em; font-weight: 600;}
    .svg {margin: -30px auto !important;}
    
    #services {
        margin-top: -22px;
        padding: 60px 0 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {font-size: 14px;}
    .text-quote {font-size: 1.6em; font-weight: bolder;}
    .text-quote-author {font-size: 1em;}
    .title-primary{font-size: 1.3em; font-weight: 300;}
    .title-secondary{font-size: 2em; font-weight: 700;}
    .lead {font-size: 1.2em}
    #ventajas h4{font-size: 1.1em;}
    .svg {margin: -30px auto;}
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    body {font-size: 0.9em;}
    h1 {font-size: 40px;}
    h2 {font-size: 14px;}
    h3 {font-size: 14px;}
    .lead {font-size: 1.2em}
    .title-primary{font-size: 1.3em; font-weight: 300;}
    .title-secondary{font-size: 2.4em; font-weight: 700;}
    .text-quote {font-size: 1.8em; font-weight: bolder;}
    .text-quote-author {font-size: 1em;}
    .svg {margin: -40px auto;}
    img.avatar-sm {width: 160px !important;}
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
    h1 {font-size: 60px;}
    h2 {font-size: 20px;}
    h3 {font-size: 20px;}
    h3.card-title {font-size: 1.8em; font-weight: 500;}
    .title-primary{font-size: 1.15em; font-weight: 300;}
    .title-secondary{font-size: 2.8em; font-weight: 700; letter-spacing: -1px;}
    h3.card-title {font-size: 1.7em; font-weight: 500;}
    .svg {margin: -51px auto;}
}

@media screen and (min-width: 1441px) {
    body {font-size: 1em;}
    h1 {font-size: 3.2em;}
    h2 {font-size: 20px;}
    h3 {font-size: 20px;}
    h3.card-title {font-size: 1.8em; font-weight: 500;}
    .title-primary{font-size: 1.15em; font-weight: 300;}
    .title-secondary{font-size: 2.8em; font-weight: 700;}
    .svg {margin: -31px auto; width: 800px;}
}