html {
    height: 100%;
}

body {
    color: #333333;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}

h1 {font-size: 50px; font-weight: 700;}
h2 {font-size: 22px; font-weight: 300;}
h3 {font-size: 18px; font-weight: 400;}

#logo-svg {
    width: 37px;
}

.avatar img {
    border-radius: 50%;
    width: 240px;
}

.divider {
    background-color: #5750bc;
    height: 10px;
}

#about h1 {font-size: 1.5em;}
#about p {font-size: 0.9em;}
#about strong {font-weight: 500;}

.btn-success {
    background-color: #5750BC;
    border: none !important;
}

.bg-light {
    background-color: #F5F5F5 !important;
}

.card {
    border: none;
}

.navbar {
    font-size: 0.9em;
}

#services {
    margin-top: -250px;
    padding: 280px 0 60px;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 3em;
  height: 3em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #483FA3;
}

.svg-icon circle {
  stroke: #483FA3;
  stroke-width: 1;
}

/* Media */

@media screen and (max-width: 768px) {
    h1 {font-size: 20px;}
    h2 {font-size: 14px;}
    h3 {font-size: 14px;}
    
    #services {
        margin-top: -50px;
        padding: 60px 0 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    h1 {font-size: 40px;}
    h2 {font-size: 18px;}
}