---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header class="h-screen bg-stone-900 flex items-center">
		<div class="w-[500px] mx-auto text-center">
			<h3 class="text-amber-300 mb-4 text-3xl">Hola, soy Luis Urruela</h3>
			<p class="text-white">
				Actualmente me encuentro rediseñando la página, no hay mucho por
				el momento, pero puedes mandarme un correo mientras queda lista. <a
					href="mailto:luis.urruela@gmail.com"
					target="_blank"
					class="hover:text-amber-300 text-amber-500"
					>luis.urruela@gmail.com</a
				>
			</p>
		</div>
	</header>
</Layout>
