---
import { Icon } from "astro-icon/components";
import { useTranslations } from "../../i18n/utils";
import { languages } from "../../i18n/ui";
import SocialLinks from "../shared/SocialLinks.astro";
import Avatar from "./Avatar.astro";

const currentLanguage = Astro.currentLocale || "es";
const translate = useTranslations(currentLanguage as keyof typeof languages);
---

<div
  class="w-full md:w-[1000px] mx-auto text-center flex-col items-center justify-center mt-6 md:mt-12 z-10"
>
  <div data-aos="fade-down" data-aos-duration="3000">
    <Avatar />
  </div>

  <!-- Hi! I'm Luis -->
  <div
    class="text-sm sm:text-2xl px-4 sm:px-0 text-black/65"
    data-aos="fade"
    data-aos-duration="3000"
  >
    <span class="font-thin">{translate("home.subtitle")}</span><span
      class="text-3xl md:text-5xl text-black">👋</span
    >
  </div>

  <h1
    class="text-xl sm:text-xl md:text-6xl font-heading text-black/85 mb-4"
    data-aos="fade"
    data-aos-duration="3000"
    data-aos-delay="300"
  >
    {translate("home.title")}
  </h1>
  <p
    class="text-black/50 font-light text-xs md:text-base sm:px-25 px-6"
    data-aos="fade"
    data-aos-duration="3000"
    data-aos-delay="500"
  >
    {translate("home.description")}
  </p>

  <div
    class="mt-8 md:mt-10 px-8 flex-row sm:flex justify-center gap-1 md:gap-2 md:px-0"
  >
    <a
      href="https://wa.me/529932090424?text=Hola%20Luis%2C%20me%20interesa%20tu%20servicio"
      target="_blank"
      class="bg-primary hover:bg-primary-dark transition duration-500 ease-in-out w-full text-xs border-primary sm:text-sm sm:w-auto py-3 px-4 sm:py-3 sm:px-6 text-white flex justify-center items-center"
      data-aos="fade-right"
      data-aos-duration="3000"
      data-aos-delay="1200"
    >
      <Icon name="cib:whatsapp" size={16} class="text-white mr-2" />
      {translate("home.primary-button")}
    </a>
    <a
      href="/servicios"
      class="border-secondary hover:bg-secondary/5 transition duration-500 ease-in-out border-1 mt-1 sm:mt-0 text-xs sm:text-sm text-secondary w-full sm:w-auto py-3 px-4 sm:py-3 sm:px-6 flex justify-center items-center"
      data-aos="fade-left"
      data-aos-duration="3000"
      data-aos-delay="1200">{translate("home.secondary-button")}</a
    >
  </div>

  <!-- Social Links -->
  <div data-aos="fade-up" data-aos-duration="3000" data-aos-delay="1200">
    <SocialLinks />
  </div>
</div>
